/* Gufran's Style Mart Brand - Custom Injected Styles */
/* Applied to: https://backoffice.stylemartbrand.com/view/all/product */

/* Add your custom CSS below for backoffice.stylemartbrand.com */


/* Image */
#productTableBody tr img{
 width:100px;
 height:140px;
}


/* Image (hover) */
.table-sm tr img:hover{
 height:140px;
}

/* Image (hover) */
.main-content .page-content .container-fluid .relative .col-lg-12 #printableArea .invoice-container .invoice-body .products-table .table-sm tbody tr td .product-info img:hover{
 width:100px !important;
}


/* Inline block */
#productTableBody tr .d-inline-block{
 font-size:15px;
}