/* Gufran's Style Mart Brand - Custom Injected Styles */
/* Applied to: https://app.stylemartbrand.com */

/* Image preview wrapper */
.datatable-body .even .image-preview-wrapper {
  width: 95px !important;
  height: 95px !important;
}

/* Image */
.datatable-body .even img {
  width: 100% !important;
  height: 100% !important;
}

/* Image */
.datatable-body .odd img {
  width: 100% !important;
  height: 100% !important;
}

.odd .image-preview-wrapper {
  width: 95px !important;
  height: 95px !important;
}



.window-mode input[formcontrolname="itemName"][readonly] {
  direction: rtl;        /* text starts from right, size stays visible */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}



/* Close */
.details-wrapper .ng-star-inserted .close-btn{
	z-index:1000;
	transform: translatex(-97vw) translatey(-65px);
	background-color:#ffffff;
	
}