/* Gufran's Style Mart Brand - Custom Injected Styles */
/* Applied to: https://backoffice.stylemartbrand.com/view/all/product */

/* Add your custom CSS below for backoffice.stylemartbrand.com */


/* Image */
#productTableBody tr img{
 width:100px;
 height:140px;
}


/* Image (hover) */
.table-sm tr img:hover{
 height:140px;
}

/* Image (hover) */
.main-content .page-content .container-fluid .relative .col-lg-12 #printableArea .invoice-container .invoice-body .products-table .table-sm tbody tr td .product-info img:hover{
 width:100px !important;
}


/* Inline block */
#productTableBody tr .d-inline-block{
 font-size:15px;
}



/* Image (hover) */
.page-content .container-fluid .row .mx-auto #printableArea #orderReturnForm .invoice-container .invoice-body .products-table .table-sm tbody tr td .product-info img:hover{
 width:100px !important;
}

/* Image (hover) */
.table-sm tr img:hover{
 height:140px;
}


/* Badge */
.card-body div .badge{
 font-size:15px;
}




/* Input */
.window-mode .ng-pristine .ng-star-inserted input[type=text]{
 text-align:left;
 width:600px;
}